@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

:root{
    /* COLORS PRIMARY*/
    --nutmet: #A3614D;
    --dark-raspberry: #7B284F;

    /* COLORS NEUTRAL */
    --white: #FFFFFF;
    --rose-white: #FFF5FA;
    --eggshell: #F3E6D8;
    --light-grey: #E4DED8;
    --wenge-brown: #5F574E;
    --dark-charcoal: #302D2C;

    /* FONTS */
    --font-outfit: 'Outfit', sans-serif;
    --font-young-serif: 'Young Serif', serif;

}

body{
    background-color: var(--eggshell);
}

main{
    background-color: var(--white);
    text-align: start;
    margin: 9rem 23rem;
    border-radius: 1.5rem;
    padding: 3rem 3rem;
}

h1{
    font-family: var(--font-young-serif);
    font-weight: 400;
}

img{
    border-radius: 1rem;
}

p{
    font-family: var(--font-outfit);
    font-weight: 400;
    font-size: 16px;
    color: var(--wenge-brown);
    line-height: 1.5;
    text-align: justify;
}

h3{
    color: var(--dark-raspberry);
    font-family: var(--font-outfit); 
}

.preparation-time{
    margin: 3rem auto 3rem 2.5rem 
}

ul{
    margin-bottom: 3.5rem;
}

ol{
    margin-bottom: 3.5rem;
}

li{
    font-family: var(--font-outfit);
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    color: var(--wenge-brown);
}

span{
    color: var(--dark-charcoal);
}

h2{
    color: var(--nutmet);
    font-family: var(--font-young-serif);
    font-weight: 400;
}

